{% load static %}
<!-- 
    Blogs Section Component
    
    This section displays blog posts or articles.
    Currently contains placeholder content with Lorem ipsum text.
    
    When fully implemented, this would include:
    - Real blog post titles and excerpts
    - Featured images for each post
    - Links to full blog posts
    - Publication dates
    - Categories or tags
    
    Structure: Grid layout with blog cards containing image and text
-->
<section class="container" id="blogs">
    <div class="blogs-content">
        <!-- Section title with background text effect -->
        <div class="main-title">
            <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span> WIP</h2>
        </div>
        
        <!-- Blog posts grid -->
        <div class="blogs">
            <!-- Blog Post 1: Website Creation -->
            <div class="blog">
                <img src="{% static 'img/port6.jpg'%}" alt="Website creation blog post thumbnail">
                <div class="blog-text">
                    <h4>How to Create Your Own Website</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
            
            <!-- Blog Post 2: Web Design Expertise -->
            <div class="blog">
                <img src="{% static 'img/blog1.jpg'%}" alt="Web design expertise blog post thumbnail">
                <div class="blog-text">
                    <h4>How to Become an Expert in Web Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
            
            <!-- Blog Post 3: Quick Web Design Learning -->
            <div class="blog">
                <img src="{% static 'img/blog2.jpg'%}" alt="Web design learning blog post thumbnail">
                <div class="blog-text">
                    <h4>Become a Web Designer in 10 Days</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
            
            <!-- Blog Post 4: Debugging Techniques -->
            <div class="blog">
                <img src="{% static 'img/blog3.jpg'%}" alt="Debugging techniques blog post thumbnail">
                <div class="blog-text">
                    <h4>Debbuging made easy with Web Inspector</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
            
            <!-- Blog Post 5: Getting Started Guide -->
            <div class="blog">
                <img src="{% static 'img/port1.jpg'%}" alt="Getting started guide blog post thumbnail">
                <div class="blog-text">
                    <h4>Get started with Web Design and UI Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
            
            <!-- Blog Post 6: Web Design Knowledge -->
            <div class="blog">
                <img src="{% static 'img/port3.jpg'%}" alt="Web design knowledge blog post thumbnail">
                <div class="blog-text">
                    <h4>This is what you need to know about Web Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
